@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

* {
    font: 15px 'Montserrat', Futura, sans-serif;
    margin: 0 !important;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    max-height: 100vh;
}


.form-check-label {
    color: white;
}

main {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    width: 100%;
    min-height: 75vh;
}

header {
    width: 100%;
    min-height: 20vh;
}

.actualPageNav {
    display: flex;
    position: relative;
    margin-bottom: 15px;
    background-color: #1a1d20;
    overflow: hidden;
}
.actualPageNav a{
    z-index: 10;
}


.actualPageNav h1 {
    z-index: 10;

}


.actualPageNav::before {
    content: '';
    position: absolute;
    height: 30px;
    width: 100%;
    background: linear-gradient(0.25turn, #ffffff, #d90368, #a003d9) !important;
    box-shadow: 0px 0px 15px 15px linear-gradient(0.25turn, #ffffff, #d90368, #a003d9) !important;
    -webkit-box-shadow: 0px 0px 15px 15px linear-gradient(0.25turn, #ffffff, #d90368, #a003d9) !important;
    -moz-box-shadow: 0px 0px 15px 15px linear-gradient(0.25turn, #ffffff, #d90368, #a003d9) !important;
    animation: animate 4s linear infinite;
}

.actualPageNav::after {
    content: '';
    inset: 3px;
    position: absolute;
    background: #1a1d20;
}



@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.searchAndCategorys {
    padding-top: 5px;
}

footer[class="row"] {
    width: 100%;
    align-items: center;
    background-color: #1a1d20;
    color: white;
    padding-left: 45px;
    min-height: 5vh;
}

.row {
    width: 100%;
}

.logo {
    width: 11rem;
    padding-top: 4px;
}

h1 {
    color: #d90368 !important;
    text-shadow: 0px 0px 8px currentColor !important;
}



a[href="#"] {
    color: #d90368 !important;
    font-weight: bold;
    text-shadow: 0px 0px 8px currentColor !important;
    text-decoration: underline;
    position: relative;
}

a[href="#"]::before {
    content: "";
    width: 90%;
    height: 20%;
    right: 4px;
    top: 26px;
    color: #d90368 !important;
    position: absolute;
    background: #d90368;
    transform: perspective(1em) rotateX(40deg);
    filter: blur(3px);
}



.searchIcon {
    width: 25px;
}

.socialMediaIcons {
    width: 25px;
    margin-right: 9px;
}

.verMasButton {
    font-weight: bold;
    display: flex;
    border: 3px solid rgb(0, 0, 0);
    box-shadow: -5px -5px 2px 1px rgb(0 0 0 / 28%);
    text-decoration: none;
    color: rgb(234, 234, 234);
    height: 45px;
    align-items: center;
    justify-content: center;
}


.tabla * {

    border: 2px solid rgb(211, 211, 211);
    color: rgb(227 227 227);
    font: 15px 'Montserrat', Futura, sans-serif;
}

.tabla th {
    color: #d90368;
    font-weight: bold;
    border: 2px solid rgb(227 227 227);
    ;
    background-color: #1a1d20;
}

form label {
    color: white;
}

.inputFormClass {
    width: 40vw;
}

#Message {
    height: 40vh;
}

input[type="submit"] {
    margin-top: 10px;
    background-color: #d90368;
}

.submitContainer {
    display: flex;
    justify-content: end;
}

.columna {
    padding-top: 15px;
    max-width: 70%;
    min-height: 30vh;
}

.cardTop {
    border-radius: 5px;
    background-color: #1a1d20;
    width: 100%;
    min-height: 40%;
}

.cardTop img {
    padding: 5px;
    width: 100%;
    min-height: 200px;
    max-height: 200px;
}

.cardBot {

    color: aliceblue;
    width: 100%;
    background-color: #1a1d20;
    /* height: 60%; */
    height: 0;
    transition: height 1s ease;
    overflow: hidden;

}

.cardBotHeader {
    height: 70%;
}

.cardBotHeader h5 {
    text-align: center;
    color: #d90368;
}


.carbotFooter {
    height: 20%;
}

.cardTop:hover+.cardBot {
    height: 20vh;
}

.cardBot:hover {
    height: 20vh;
}

.detailsContainer {
    color: aliceblue;
    display: flex;
    justify-content: center;
    width: 80%;
    max-height: 40vw;
    min-height: 30vw;
    background-color: #1a1d20;
    padding: 15px;
    align-items: center;
    border: 3px solid #d90368;
    gap: 3px;
}

.detailsImage img {
    height: 23vw;
    width: 100%;
    border: 3px solid #d90368;
}

.detailsDescription {
    border: 3px solid #d90368;
    text-align: center;
    height: 23vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tableContainer {
    min-height: 60vh;
}

.cardBotFooter {
    align-items: center;
}

.filterAlert {
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;

}


@media screen and (max-width:425px) {
    .detailsContainer {
        display: flex;
        flex-direction: column;
        min-height: 60vh;
        min-width: 90vw;
    }

    .detailsImage img {
        height: 50vw;
    }

    .detailsDescription {
        height: 50vw;
    }


}


@media screen and (max-width:650px) {
    .columna {
        min-height: 60vh;
    }
}

@media screen and (max-width:768px) {

    .categorias {
        display: flex;
        flex-direction: column;
    }

    .columna {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 70%;
        min-height: 80vh;
    }
}