.form-check-label{
    color: white;
}


.logo{
    width: 11rem;
    padding: 1rem;
}
h1{
    color: #d90368 !important;
}

.actualPageNav{
    background-color: #1a1d20;
}

a[href="#"]{
    color:#d90368 !important;
}

footer{
    background-color: #1a1d20;
}